* {
  margin: 0;
  padding: 0;
}

html {
  min-width: 690px;
  background: #cdccce;
}

/* Header */
#header {
  background: #333233;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#title {
  color: white;
  font-size: 30px;
  font-weight: bold;
  white-space: nowrap;
  display: inline-block;
  margin-right: 80px;
}

#input {
  display: inline-block;
  height: 30px;
  width: 350px;
  border: 1px solid;
  box-shadow: 0px 0px 5px inset #888888;
  border-radius: 7px;
  font-size: 15px;
  padding-left: 8px;
  color: rgb(173, 171, 171);
  outline: none; 
}

/* Main */
#main {
  width: 690px;
  margin: 10px auto;
}

.subHeader {
  margin: 15px 0;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nums {
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  font-size: 17px;
  background: #e5e5f2;
}

.subFooter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  display: inline-block;
  background: rgb(99, 80, 105);
  color: rgb(204, 199, 199); 
  border: 1px solid rgb(168, 152, 122);
  border-radius: 5px;
  padding: 4px;
  font-size: 15px;
  margin-top: 10px;
  margin-right: 10px;
  outline: none;
}

li {
  list-style: none;
}

.items {
  background: whitesmoke;
  height: 37px;
  display: flex;
  align-items: center;
  border-left: 5px solid #789b9b;
  border-radius: 5px 3px 3px 5px;
  margin-top: 15px;
}

/* Todos */
#cpltBtn {
  width: 15px;
  height: 15px;
  border: 2px solid rgb(173, 171, 171);
  border-radius: 5px;
  margin-left: 15px;
  outline: none;
}

#content {
  margin-left: 15px;
  font-weight: 500;
}

#dlt {
  margin-left: auto;
  margin-right: 10px;
  border: none;
  background: whitesmoke;
  outline: none;
}

/* 结合display和hover实现删除键的动态显示 */
#dltBtn {
  width: 19px;
  height: 19px;
  opacity: 0.3;
  display: none;
}

.items:hover #dltBtn {
  display: block;
}

/* 调节双击时出现的input和原来的div重合 */
.todoItem {
  position: relative;
}

#edit {
  height: 26px;
  margin-left: 50px;
  width: 600px;
  border: 1px solid white;
  border-radius: 3px;
  position: absolute;
  transform: translateY(-115%);
}

/* Completed */
.cplt {
  border-left: 5px solid #333233;
}

#cpltItems {
  padding-left: 15px;
  color: grey;
  text-decoration: line-through;
}

/* Footer */
#footer {
  margin-top: 40px;
  text-align: center;
  color: rgb(173, 171, 171);
}